@page "/booking"

@layout InnerPageLayout

<Microsoft.AspNetCore.Components.Sections.SectionContent SectionName="PageName">
    Booking
</Microsoft.AspNetCore.Components.Sections.SectionContent>

<h3>Booking</h3>

@code {

}
